@charset "utf-8";

.sponsors_link {
    background: rgba(173, 216, 230, 1);
    border-radius: 4px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 0.8s;
    box-shadow: 0px 1px 2px black;
}

.sponsors_link:hover {
    background: rgba(173, 216, 230, 0.90);
}

.sponsors_link img {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: auto;
}