@charset 'utf-8';


/* When you will hover on the website Name then (in all Nav Section) */
.brand-logo {
    width: 60px;
    height: 40px;
}

.websiteName, .websiteName img {
    transition: 1s;
}
.websiteName img:hover {
    opacity: 0.6;
}
.websiteName:hover::after{
    content:"Online Books Store";
    font-size:10px;
    color:#5cb85c;
}

/* Navbar Dropdown Hoverable Effect */
.dropdown:hover>.dropdown-menu {
    display: block;
}  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}
header.sticky-top {
    -webkit-box-shadow: -1px 9px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 9px 20px rgba(0,0,0,0.2);
    box-shadow:-1px 9px 20px rgba(0,0,0,0.2);
}


/* Page Heading just after NavBar */
.bgPageHeading{
    background-color:rgba(211,211,211,0.3);
}