@charset "utf-8";

/********** || COMMON STYLES **********/
*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

::selection{
    background-color:rgba(0,0,0,0.6);
    color: white;
}

/* || Cards (Category, Product) */

h2.categoryHeading:hover{ color:rgba(110, 110, 27, 0.6); }

.categoryCard {
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: -1px 5px 15px rgba(0,0,0,0.1);  
    -moz-box-shadow: -1px 5px 15px rgba(0,0,0,0.1);  
    box-shadow:-1px 5px 15px rgba(0,0,0,0.1);
}

.cardShadow{
    transition-duration: 0.6s;
    -webkit-box-shadow: -1px 9px 40px rgba(0,0,0,0.1);  
    -moz-box-shadow: -1px 9px 40px rgba(0,0,0,0.1);  
    box-shadow:-1px 9px 40px rgba(0,0,0,0.1);
    border-radius: 0px;
    border-color: rgba(128,128,128,0.13);
}

.cardShadow:hover {
    -webkit-box-shadow: -1px 9px 40px rgba(0,0,0,0.18);  
    -moz-box-shadow: -1px 9px 40px rgba(0,0,0,0.18);  
    box-shadow:-1px 9px 40px rgba(0,0,0,0.18);
    border: 0.5px solid #17A2B8;
}


/* || Card Zoom Effect */
.inner{
    overflow:hidden;
}
.inner img {
    transition:all 1.2s ease;
}
.cardShadow:hover img{
    transform: scale(1.05);
}


/* || Product Slider 6F5BFA */
.card-title { text-align: center; }

.product-btn { 
    box-shadow: none !important; 
    font-size: 0.5em !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: 1.2px;
}

.product-btn i {
    vertical-align: -5px;
    font-size: 15px;
}

.card-title a { 
    font-family: 'Constantia'; 
    color: black;
    text-decoration: none;
}

.card-title a:hover { color: rebeccapurple; }
.productImg { height:280px; }

.wrapper .item{
    padding-left: 5px;
    padding-right: 5px;
}

.owl-carousel .product-btn {
    background-color: rgba(128,128,128,0.7) !important;
    border: none !important;
}   

.owl-carousel .product-btn:hover {
    background-color: rgba(52,58,64,0.7) !important;
}


/* || Contact Section & Join Us Section */
.jumbotron-fluid {
    background-color: #03a9f4;
    margin: 0;
}
.jumbotron-fluid button, a.btn {
    font-size: 0.9em;
}


/* || Join Us Modal */

/* IN MULTIPLE PAGE css file */
.modal-title + button:focus {
    border: none;
    outline: none;
}

/* || BUTTON Classes */
.myButton{
    letter-spacing: 2px;
    font-size:12px;
}

.specialBtn{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn:hover {
    -webkit-box-shadow: -1px 9px 40px rgba(0,0,0,0.4);  
    -moz-box-shadow: -1px 9px 40px rgba(0,0,0,0.4);  
    box-shadow:-1px 9px 40px rgba(0,0,0,0.4);
}