@charset "utf-8";

/* ------------------- || EDIT PROFILE PAGE ------------------- */
#account-profile { background-color: rgba(128, 128, 128, 0.1); }

label {
    font-size: 0.9em;
    margin-top: 8px;
    margin-bottom: 2px;
}


/* ------------------- || THANKU PAGE ------------------- */
.back-to-shop {
    font-size: 14px !important;
    font-variant: small-caps;
}


/* ------------------- || AUTHORS PAGE ------------------- */
#famous-authors .media {
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 5px;
}

#famous-authors .media-heading {
    text-decoration: none;
    color: #6C757D;
}
#famous-authors .media-heading:hover {
    color: black;
}

#famous-authors p {
    font-size: 0.95em;
}

#famous-authors img {
    width: 75px;
    border-radius: 50%;
}