@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: grey;
    color: white;
}

/* ------------- || HOME BANNER SLIDER ------------- */
.slider img {
    width: 100%;
    height: inherit;
}

@media screen and (max-width:768px) {
    .slider img {
        object-fit: cover;
    }
}

.drk::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4b301b;
    opacity: 0.75;
}

.slider .indicators .indicator-item.active {
    background-color: #4b301b;
}

.caption {
    margin-top: 13%;
    z-index: 1;
}

.caption h5 {
    font-family: 'Rowdies', cursive;
}

/* || COFFEE CONTENT */
#coffee-content img {
    display: block;
    margin: auto;
}

/* || PARALLAX  */
.parallax-container.drk::after {
    opacity: .55;
}

/* || SERVICES */
.services i {
    font-size: 75px;
    color: #4b301b;
    display: block;
    text-align: center;
}

.services i + p {
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width:450px) {
    .services i {
        font-size: 50px;
    }   
}