@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
/* font-family: 'Merienda One', cursive; */

.nav-wrapper {
    background-color: #4b301b;
}

.brand-logo {
    margin-left: 15px;
    font-size: 1.7em !important;   
    font-family: 'Sedgwick Ave Display', cursive;
}

@media screen and (max-width:768px) {
    .brand-logo {
        font-size: 1.4em !important;
    }
}

#nav-dropdown-1 a, #nav-dropdown-2 a {
    color: #4b301b;
}