@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.nav-wrapper {
    background-color: #6f4e37;
}

.brand-logo {
    margin-left: 15px;
    font-size: 1.8em !important;
    font-family: 'Merienda One', cursive;
}

@media screen and (max-width:768px) {
    .brand-logo {
        font-size: 1.5em !important;
    }
}

