/* || index.html */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.service-heading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: hsl(200, 18%, 26%);
    letter-spacing: 1px;
}