@charset "utf-8";

/* --------- || EDIT PROFILE PAGE --------- */
#account-profile {
    background-color: rgba(128, 128, 128, 0.1);
}

label {
    font-size: 0.9em;
    margin-top: 8px;
    margin-bottom: 2px;
}


/* --------- || ABOUT US PAGE --------- */
.myTeam{
    line-height: 0;
    color: var(--m-color-lightgrey);
}
