@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eceff1;
}

/* Header Section */

header {
    padding: 20px;
    text-align: center;
    font-family: 'Constantia';
    letter-spacing: 1.2px;
    word-spacing: 5px;
    background: white;
}

/* Main Section */

main {
    margin: 10px 6%;
    text-align: center;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: white;
}

footer a {
    text-decoration: none;
}

/* ----------------------- FULL DETAILED FORM ----------------------------- */

#place {
    margin: 25px 0;
    font-size: 1.5em;
    font-family: "Constantia";
}

#place-image {
    width: 100%;
    height: auto;
}

#description {
    margin: 25px 0;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}




/* ----------------------- CARD FORM ----------------------------- */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 10px 6%;
}

@media screen and (max-width:768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:576px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px lightgray;
    box-shadow: 0px 2px 5px lightgray;
    transition: 0.5s;
    border: 0.5px solid lightgrey;
}

.card:hover {
    transform: scale(1.03);
    -webkit-box-shadow: 0px 2px 5px gray;
    box-shadow: 0px 2px 5px gray;
}

.card img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: auto;
    overflow: hidden !important;
}

.card-info {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-info>* {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-info p {
    color: grey;
}

button {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: white;
    background: cornflowerblue;
}

button:hover {
    cursor: pointer;
}